@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Reset */

html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* Main Styles */

.header {
  width: 100%;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
}

.search-box[type=search] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #33BCA5;
}

.search-box:focus {
  outline: none;
}

.search-box::placeholder {
  font-family: 'Poppins', sans-serif;;
}

.main-banner {
  height: 100vh;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('/app/assets/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-banner img{
  border-radius: 100%;
  height: 10rem;
  width: 10rem;
  object-fit: cover;
}

.main-icon {
  width: 32px;
  height: 32px;
}

.main-intro {
  width: 100%;
  height: auto;
}

.main-intro article {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  margin-left: 1rem;
  color: black;
}

.menu {
  width: 48%;
  display: flex;
  justify-content: space-evenly;
}

.menu a {
  color: black;
}

.menu a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #33BCA5;
  transition: width .4s;
}

.menu a:hover::after {
  width: 100%;
}